asgiref==3.8.1
dj-database-url==2.3.0
django
django-cache-memoize
django-cors-headers
djangorestframework
djangorestframework-simplejwt
Django==5.2
firebase-admin
gunicorn
Pillow
psycopg2-binary
python-dotenv
redis
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
whitenoise
