asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
django
djangorestframework
django-cors-headers
whitenoise
gunicorn
dj-database-url
psycopg2-binary
python-dotenv
djangorestframework-simplejwt
firebase-admin
django-cache-memoize
redis